<h1>Usuario <small>nombre del usuario</small></h1>
<hr />
<div class="row">
  <div class="col text-right">
    <button routerLink="/users" class="btn btn-danger">
      <i class="fa fa-arrow-left"></i> Volver
    </button>
  </div>
</div>
<div class="row animated fadeIn faster">
  <div class="col">
    <form (ngSubmit)="save( f )"
            #f="ngForm" >
      <div class="form-group">
        <label>FirebaseID</label>
        <input
          class="form-control"
          placeholder="FirebaseID"
          [(ngModel)]="user.id"
          name="id"
          disabled="disabled"
          type="text"
        />
        <small class="form-text text-muted">Campo autogenerado</small>
      </div>
      <div class="form-group">
        <label>Nombre</label>
        <input 
            class="form-control" 
            required
            [(ngModel)]="user.name"
            name="name" 
            placeholder="Nombre" 
            type="text" />
      </div>
      <div class="form-group">
        <label>Apellido</label>
        <input 
            class="form-control"
            [(ngModel)]="user.surname"
            name="surname" 
            placeholder="Apellido" 
            type="text" />
      </div>
      <div class="form-group">
        <label>Coche</label>
        <br />
        <button
            *ngIf="user.car" 
            class="btn btn-outline-success w-50"
            (click)="user.car = false"
            type="button">
          <i class="fa fa-check"></i> Tiene coche
        </button>
        <button
            *ngIf="!user.car" 
            (click)="user.car = true" 
            class="btn btn-outline-danger w-50" 
            type="button">
          <i class="fa fa-times-circle"></i> No tiene coche
        </button>
      </div>

        <hr>
        <div class="form-group text-center">
            <button
                class="btn btn-primary w-25" 
                type="submit">
                <i class="fa fa-save"></i>
                Guardar
            </button>


      </div>
    </form>
  </div>
</div>
